.submit_review {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 1%;
}

.nav_main {
  align-items: center;
  justify-content: center;
}

.app-container {
  background: white;
}
