.card-content {
  padding: 20px;
  border: 1px solid blue;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content div {
  /* margin-bottom: 15px; */
}

strong {
  color: #333;
}
